<!doctype html>
<%
var loans = csv.loans.filter(function(row) {
  if (row.rate > 15) return false;
  if (row.amount > 150) return false;
  return row.rate;
});

var width = 61;
var rateDivision = 2;
var amountDivision = 5;

var matrix = [];
loans.forEach(function(loan) {
  //rates are rounded up, because the conditions are always >
  var rate = Math.ceil(loan.rate * rateDivision) / rateDivision;
  var row = rate * rateDivision;
  //amounts are rounded down, because their conditions are >=
  var amount = Math.floor(loan.amount / amountDivision) * amountDivision;
  var column = amount / amountDivision;
  if (!matrix[row]) matrix[row] = new Array(width);
  if (!matrix[row][column]) matrix[row][column] = {
    rate: rate,
    amount: amount,
    clayton: 0,
    other: 0,
    count: 0
  };
  var counter = matrix[row][column];
  counter.count++;
  if (loan.company.trim().toLowerCase() == "clayton") {
    counter.clayton++;
  } else {
    counter.other++;
  }
});

var reduced = [];
for (var r = 0; r < matrix.length; r++) {
  if (!matrix[r]) matrix[r] = new Array(width);
  var arr = matrix[r];
  for (var i = 0; i < arr.length; i++) {
    if (!arr[i]) arr[i] = {
      count: 0,
      clayton: 0,
      rate: r / rateDivision,
      amount: i * amountDivision,
      other: 0,
      gap: true
    }
    reduced.push(arr[i]);
  }
};

var bounds = {};
["count", "clayton", "rate", "amount"].forEach(function(key) {
  var bound = bounds[key] = {};
  var values = reduced.filter(function(d) { return d.count }).map(function(d) { return d[key] });
  bound.max = Math.max.apply(null, values);
  bound.min = Math.min.apply(null, values);
});

reduced = reduced.filter(function(d) { return d.rate >= bounds.rate.min });

//sanity check
var counts = {
  clayton: 0,
  other: 0
}
reduced.forEach(function(item) {
  if ((item.amount < 50 && item.rate > 8.5) || (item.amount >= 50 && item.rate > 6.5)) {
    if ((item.amount < 75 && item.rate <= 10) || (item.amount >= 75 && item.rate <= 6.5)) {
      counts.clayton += item.clayton;
      counts.other += item.other;
    }
  }
});
console.log(counts);


%>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body data-step="count">

    <responsive-child>
      <main class="interactive">
        <h1>Looser loan rules a boon for Buffett company</h1>

        <p class="chatter">
          The heat maps below show concentrations of 2013 mobile-home loans that had interest rates high enough to require disclosure. Click through each one to see Clayton’s share of the loan market and how the company stands to gain from a rollback of consumer safeguards.
        </p>

        <label for="count">
          <h1>The Loan Landscape</h1>
        </label>

        <label for="clayton">
          <h1>Clayton's loans</h1>
        </label>

        <label for="other">
          <h1>Loans from other lenders</h1>
        </label>

        <label for="current count">
          <h1>Current protection for borrowers</h1>
        </label>

        <label for="proposed count">
          <h1>Proposed rollback</h1>
        </label>

        <label for="clayton proposed">
          <h1>Clayton's gain, borrower's loss</h1>
        </label>

        <label for="other proposed">
          <h1>Not much impact for other lenders</h1>
        </label>

        <figure class="heatmap">
          <aside class="x-axis">
            <div class="in-thousands">Loan amount (in thousands of dollars)</div>
          </aside>
          <aside class="y-axis"></aside>
          <canvas class="shader"></canvas>
          <div class="tooltip"></div>
        </figure>

        <div class="key">
          <div class="legend">Fewest loans</div>
          <% for (var i = 1; i < 9; i++) { %>
          <div class="cell count-<%= i %> clayton-<%= i %> other-<%= i %>"></div>
          <% } %>
          <div class="legend">Most loans</div>
        </div>

        <nav>
          <!-- <div class="instructions">Click below to advance</div> -->
          <div class="bar">
            <a data-increment="-1">Previous</a>
            <% ["count", "clayton", "other", "current count", "proposed count", "clayton proposed", "other proposed"].forEach(function(step, i) { %>
            <a data-goto="<%= step %>" class="<%= !i ? "selected" : "" %>"><%= i + 1 %></a>
            <% }); %>
            <a data-increment="1">Next</a>
          <div>
        </nav>

        <!-- per-viz chatter -->
        <label for="count">
          <p>
            Mobile-home loans often have higher interest rates than those of typical home loans, and the gap between those loans gets reported to the government as a "rate spread," indicated by the percentages at left. To get the estimated interest rate on the loans, add 4% to the stated rate spread.
          </p>
        </label>

        <label for="clayton">
          <p>
            Clayton Homes, owned by Warren Buffett's Berkshire Hathaway, is by far the mobile-home industry's largest lender. The company's loans tend to have rates far higher than those of  typical home loans. In 2013, Clayton's highest concentration of loans was for those around $70,000 and a rate spread of about 7 percentage points, meaning many Clayton interest rates likely exceeded 10 percent.
          </p>
        </label>

        <label for="other">
          <p>
            In contrast, loans provided by non-Clayton lenders tend to have a much lower interest-rate spread. 
          </p>
        </label>

        <label for="current count">
          <p>
            Sweeping reforms approved after the nation's financial crisis included protections for mobile-home loans with high interest rates. Under rules in effect in 2014, consumers get additional protections for loans that have a rate spread over 6.5 percentage points – or 8.5 percentage points if the loan is under $50,000.
          </p>
        </label>

        <label for="proposed count">
          <p>
            Congress is considering a plan that would roll back some of the protections. Under the proposal, loans under $75,000 would need to have a rate spread of more than 10 percentage points to qualify for additional protections.
          </p>
        </label>

        <label for="clayton proposed">
          <p>
            The plan to curtail consumer protections would be a boon for Clayton. Under the proposed law, the segment of the loan pool that benefits most from the relaxed rules neatly matches the greatest concentration of Clayton loans. If the changes were applied to 2013 data, more than 5,100 of Clayton's loans would fall in the gap created by the new law.
          </p>
        </label>

        <label for="other proposed">
          <p>
            For other lenders, the proposed rollback would have minimal impact. In total, of the loans that had interest rates that would lose protections under the congressional plan, 91 percent were Clayton loans.
          </p>
        </label>

        <cite class="source">Source: Seattle Times analysis of 2013 FFIEC data</cite>
        <div class="credit">Thomas Wilburn / The Seattle Times</div>

      </main>
    </responsive-child>

    <script>
window.loanData = <%= JSON.stringify({
  data: reduced,
  bounds: bounds
}) %>;
    </script>
    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
